@media (max-width: 1920px){
    body {
        background-image: url(../src/trianglify.png);
        background-repeat: no-repeat;
        background-position: center top;
        background-attachment: fixed;
        }
    }